.header-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../pictures/main-cat.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container h1 {
    margin-top: 10%;
    margin-bottom: 3%;
    color: white;
    font-size: 5rem;
}

.header-container h2 {
    color: white;
}

.header-container h3 {
    color: rgb(58, 71, 59);
    font-size: 3rem;
    font-family: 'RocknRoll One', sans-serif;
}

.header-button {
    height: 10%;
    width: 20%;
    margin-top: 7%;
    border: solid 1px rgb(69, 82, 71);
    background-color: rgb(115, 143, 119, 0.85);
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.868);
}
